body {
    margin: 0px;
    width: 100%;
    background: #242424;
}
.general {
    width: 84%;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin: 0 8%;
}
header {
    background: rgba(10, 10, 10, 0.9);
    position: sticky;
    top: 0;
}
.header {
    background: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
}
.nav {
    padding: 0 30px;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav li {
    color: white;
    list-style: none;
}
.content {
    flex-wrap: wrap;
    border: solid darkgray 1px;
    border-radius: 20px;
    padding: 20px 0;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
}
.section {
    background: gray;
    padding: 0 30px;
    flex-grow: 1;
    height: auto;
}
.side {
    background: lightgray;
    min-width: 200px;
    flex-grow: 1;
    margin: 0 30px;
    height: auto;
}
.mediaTitle {
    background: lightgreen;
    font-size: 25px;
    padding: 10px;
}
.media {
    width: 100%;
    padding: 8px 0;
    aspect-ratio: 16/9;
}
.mediaMeta {
    display: flex;
    align-items: center;
    padding: 8px 0;
    background: pink;
    height: 50px;
}
footer {
    border-top: solid darkgray 2px;
    min-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foot {
    padding: 30px;
}
