body {
    margin: 0px;
    width: 100%;
    background: gray;
}
.general {
    width: 84%;
    display: flex;
    flex: 1 0 auto;
    justify-content: space-between;
    margin: 0 8%;
}
header {
    position: sticky;
}
.header {
    background: black;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 30px;
    margin-bottom: 50px;
}
.nav {
    padding: 0 30px;
    background: lightgray;

    height: 50px;
    display: flex;
    align-items: center;
    gap: 30px;
}
.nav li {
    list-style: none;
}
.content {
    flex-wrap: wrap;
    border: solid darkgray 1px;
    border-radius: 20px;
    padding: 20px 0;
    height: fit-content;
    margin-bottom: 50px;
}
.section {
    background: gray;
    padding: 0 30px;
    height: auto;
}
.side {
    background: lightgray;
    flex-grow: 1;
    margin: 0 30px;
    height: auto;
    /* min-width: 200px; */
}
.mediaTitle {
    background: lightgreen;
    font-size: 25px;
    padding: 10px;
}
.media {
    background: green;
    height: 360px;
    width: 640px;
}
.mediaMeta {
    background: pink;
    height: 50px;
}
footer {
    border-top: solid darkgray 2px;
    min-height: 100px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.foot {
    padding: 30px;
}
